[submodule "DecompReference/key"]
	path = DecompReference/key
	url = https://github.com/Grien25/key.git
[submodule "DecompReference/rb3"]
	path = DecompReference/rb3
	url = https://github.com/Grien25/rb3.git
[submodule "DecompReference/mkw"]
	path = DecompReference/mkw
	url = https://github.com/Grien25/mkw.git
[submodule "DecompReference/libogc"]
	path = DecompReference/libogc
	url = https://github.com/devkitPro/libogc.git
[submodule "DecompReference/PorpoiseTool"]
	path = DecompReference/PorpoiseTool
	url = https://github.com/wowjinxy/PorpoiseTool.git
